<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @order.agency %>
</p>

<p>
  <strong>Item:</strong>
  <%= @order.item %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
